
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

body {
    font-family: 'Comfortaa', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(125, 28, 137);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    flex-wrap: wrap;
}

.logo, .navigation {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.logo h1 {
    margin: 0;
    font-size: 50px;
    font-family: sans-serif;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    margin: 0.5em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Comfortaa', sans-serif;
    font-size: 17px;
}

main {
    padding: 2em;
    text-align: center;
    padding-bottom: 5em;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.text-content {
    flex: 1;
    padding-right: 1em;
    text-align: left;
}

.image-content {
    flex: 1;
    text-align: right;
    margin-top: 2em;
}

.image-content img {
    max-width: 100%;
    height: auto;
}

.main-heading {
    font-size: 28px;
}

.services-list {
    list-style-type: disc;
    padding-left: 20px;
    font-size: 20px;
    text-align: left;
    display: inline-block;
    margin-top: 0;
}

.services-list li {
    margin-bottom: 0.5em;
}

.info-text {
    font-size: 30px;
    margin: 1em 0;
}

.bottom-text {
    padding: 50px 0;
}

.pricing-table {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0;
}

.price-plan {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 1em;
    margin: 0;
    flex: 1 1 30%;
    box-sizing: border-box;
    transition: transform 0.3s;
    margin-left: -1px;
    background-color: #f9f9f9;
}

.price-plan h2 {
    margin-top: 0;
    background-color: rgb(125, 28, 137);
    color: white;
    padding: 0.5em;
    border-radius: 10px 10px 0 0;
}

.price-plan:hover {
    transform: scale(1.05);
}

.price-plan hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 0.5em 0;
    width: calc(100% - 2em);
    margin-left: auto;
    margin-right: auto;
}

.price {
    font-size: 2em;
    margin: 0.5em 0;
}

.price span {
    font-size: 0.5em;
    display: block;
    color: #888;
}

.additional-info {
    margin-top: 1em;
    font-size: 0.9em;
    color: #555;
}

.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: 22px;
    gap: 2em;
    flex-wrap: wrap;
    margin-top: 2em;
}

.contact-item {
    display: flex;
    align-items: flex-start;
    gap: 0.5em;
}

.contact-item i {
    font-size: 2em;
}

.contact-text {
    display: flex;
    flex-direction: column;
}

contact-text strong {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.contact-text p, .contact-text a {
    margin: 0;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact-form label {
    margin-top: 1em;
}

contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 0.5em;
    margin-top: 0.5em;
}

contact-form button {
    margin-top: 1em;
    padding: 0.5em 2em;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

footer {
    background-color: rgb(125, 28, 137);
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
    }

    .text-content {
        padding-right: 0;
        text-align: center;
    }

    .image-content {
        margin-top: 1em;
        text-align: center;
    }

    .logo h1 {
        font-size: 30px;
    }
}
